
@import 'base/index';
@import 'components/index';
@import 'layout/index';

@media screen and (max-width: 575px){
}

@media screen and (min-width: 576px){

}

@media screen and (max-width: 767px){
    .main{
        left: 0;
        width: 100%;
    }
}
@media screen and (min-width: 768px){
    .header-container{
        display: block;
        position: fixed;
        width: 25%;
        height: 100vh;
        background: rgb(45,76,58);
        background: linear-gradient(180deg, rgba(45,76,58,1) 70%, rgba(36,36,36,1) 100%);
        top: 0;
        z-index: 1;
    }
    .nav{
        position: relative;
        text-align: center;
        top: 5%;
        font-weight: bold;
    }
    .nav ul{
        list-style: none;
        padding-left: 0;
    
        .contact{
            border-top: solid 2px white;
            border-bottom: solid 2px white;
        }
    
        li{
            position: relative;
            a{
                font-size: small;
                line-height: 4em;
                text-decoration: none;
                letter-spacing: 0.1em;
                display: block;
                color: white;
                text-align: center;
            }
            a:hover{
                text-decoration: underline;
                text-decoration-color: white;
                text-decoration-thickness: 3px;
                text-underline-offset: 10px;
            }
        }
    }
    .logo{
        border-bottom: solid 2px white;
    }
    h1{
        text-align: center;
        font-size: 64px;
        margin: 15px;
        a{
            text-decoration: none;
            color: white;
        }
    }
    
    .social{
        position: relative;
        top: 7%;
        
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 10%;
            align-items: center;
            list-style: none;
            padding-left: 0;
            li{
                display: list-item;
                padding-bottom: 10px;
                margin: 0 3px;
                a{
                    text-decoration: none;
                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px){
    .header-container{
        width: 20%;
    }
    .main{
        left: 20vw;
        width: 80vw;
    }
    .portfolio-boxes{
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }
    .input{
        flex-direction: row;
    }
    .name, .email, .subject, .message{
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media screen and (min-width: 1200px){
    .header-container{
        width: 15%;
    }
    .main{
        left: 15vw;
        width: 85vw;
    }

    .nav > ul > li > a{
        line-height: 5em;
        text-decoration: none;
        letter-spacing: 0.4em;
        font-size: medium;
    }
    .portfolio-boxes{
        width: 100%;
    }
    .contact{
        max-width: 1200px;
        margin-left: 10px;
        margin-right: 10px;
    }
}