h2, p, h3, a{
    color: white;
    text-decoration: none;
}

.main h2, .main p, .main h3{
    margin-left: 10%;
    margin-top: 3%;
    margin-right: 10%;
}

.main p{
    margin-top: 1%;
}
// .portfolio h2{
//     margin-left: 277px;
// }

.scs a{
    border: solid 2px rgba(45,76,58,1);
    border-radius: 5px;
    background-color: rgba(45,76,58,1);
    padding: 5px;
    font-weight: 600;
}

.scs a:hover{
    background-color: white;
    color: rgba(45,76,58,1);
}

.social {
    ul {
        li {
            a:hover{
                border-bottom: solid white 3px;
            }
        }
    }
}

code{
    font-size: x-small;
    color: white;
}